/* header */
/* first page */
body{
    background-color: #eceff1;
}
/* header navigation */
.navigation, ul, .nav-li{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}
.nav-li{
    justify-content: space-around;
    margin-left: 20px;
    color: #84979e;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}
.home{
    color: black;
    font-weight: bold;
}
.logo, .header{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.logo{
    width: 38px;
    height: 15px;
}
.avatar{
    max-width: 30px;
}
.header{
    justify-content: space-between;
    margin:30px;
}



/* second tow - world news */
.left-photo{
    background-image: url(../images/Main@2x.jpg);
    max-width: 840px;
    width: 100%;
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.row-one{
    display: flex;
    flex-direction: row;
    background-color: white;

}
.line{
    max-width: 580px;
    width: 100%;
    height: 2px;
    background-color: white;
    display: flex;
}
.block-head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}
.end-text{
    width: 500px;
    text-align: center;
}
.header-text{
    display: flex;
    text-align: left;
    font-size: 32px;
    font-weight: bold;
    color: white;
    margin-bottom: 44px;
    font-family: Arial, Helvetica, sans-serif;

}

.end-text{
    display: flex;
    text-align: left;
    font-size: 16px;
    font-weight: bold;
    color: white;
    margin-top: 20px;
    margin-bottom: 44px;
    font-family: Arial, Helvetica, sans-serif;
}
.btn{
    color: white;
    font-weight: bold;
    
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    width: 140px;
    height: 40px;
    background-color: palevioletred;
}


/*  right row */
.right-row{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

h1{
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.pink{
    color: palevioletred;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.line2{
    max-width: 380px;
    width: 100%;
    height: 2px;
    background-color: rgb(196, 188, 188);
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
}
.travel-text, .tech-text{
    width: 380px;
    color: #A6ADB4;
    font-family: Arial, Helvetica, sans-serif;
}



/* trending section */
.trending{
    display: flex;
    margin: 0;
    justify-content: center;
    flex-wrap: wrap;
    
}
h2{
    display: flex;
    font-weight: bold;
    margin-top: 40px;
    margin-left: 180px;
    
}
 .trending-text{
    max-width: 280px;
    line-height: 20px;
    color: #84979e;
    font-size: 12px;
    margin-left: 15px;
    
}
.trending-photo{
    max-width: 360px;
    width: 100%;
    height: 170px;
}
.text-tr{
    font-size: 15px;
   
}
h4{
    margin: 15px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.row-two {
    display: flex;
    max-width: 1160px;
    width: 100%;
    margin-top: 40px;
    flex-direction: row;
    align-items: center;
    justify-content: space-around
  }
  
  .column {
    margin: 0;
    justify-content: center;
    padding: 5px;
    flex-direction: column;

  }
/* section two */
.section-two{
    margin-left:  40px;
    margin-top: 30px;
    justify-content: center;
    display: flex;
    flex-direction: row;

}
.big-pictures{
    display: flex;
    max-width: 760px;
    width: 100%;
    height: 430px;
    margin-bottom: 40px;
    background-image: url(../images/Image@2x2.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    align-items: center;
    
}
.small-pictures{
    display: flex;
    width: 360px;
    height: 210px;
    margin-bottom: 120px;
}
.block-one, .block-two{
    display: flex;
    flex-direction: column;
}
.block-one{
   margin-right: 40px;
}



/* footer */

.footer{
    background-color: #A6ADB4;
    display: flex;
    flex-wrap: wrap;
    height: 200px;
    justify-content: center;
    align-items: center;
}
.columns{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.column-one, .column-two, .column-three{
    margin-right: 50px;
    color: #CBD0D3;
    flex-direction: column;
}

.blank-2{
    margin-left: 225px;
    display: flex;
    flex-direction: column;
    color: #CBD0D3;
}
.touch{
    display: flex;
    background-color: #A6ADB4;
    border-color:  #CBD0D3;
}
.lists{
    display: flex;
    flex-direction: row;
}
.list{
    margin: 10px;
    display: flex;
    flex-direction: column;
}


